// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)
$primary: #050225;
$secondary: #fff;
$dark:#198754;
$font-family-sans-serif: "nunito",sans-serif !default; 
$font-family-serif: "lato",serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";
